package views

import "github.com/oliverisaac/pushable/types"

templ Index(pageData types.HomePageData) {
@Layout(pageData.Config, pageData.User, "Pushable") {
<section class="container mx-auto">
		<h1>Welcome to Pushable</h1>
</section>
}
}